<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <a href="/apiTest">서비스</a><br>
    <div class="d-flex">
        <span th:text="' total 건수 : ' + ${totalCount} + ' , '"> </span>
        <span class="mr-auto" th:text="'page 번호 : ' + ${pageNo}"></span>
        <span th:text="'기준일시 : '+${tourInfos[0].getTm()}"></span>
    </div>
    <table class="table">
        <thead>
        <th>테마</th>
        <th>코스명</th>
        <th>코스지역</th>
        <th>관광지점</th>
        <th>관광지명</th>
        <th>풍속</th>
        <th>하늘상태</th>
        <th>습도</th>
        <th>강수확률</th>
        </thead>
        <tr th:each="tourInfo : ${tourInfos}">
            <td th:text="${tourInfo.getThema()}"></td>
            <td th:text="${tourInfo.getCourseName()}"></td>
            <td th:text="${tourInfo.getCourseAreaName()}"></td>
            <td th:text="${tourInfo.getSpotAreaName()}"></td>
            <td th:text="${tourInfo.getSpotName()}"></td>
            <td th:text="${tourInfo.getWs()}"></td>
            <td th:if="${tourInfo.getSky() == 1}" th:text="맑음"></td>
            <td th:if="${tourInfo.getSky() == 2}" th:text="구름"></td>
            <td th:if="${tourInfo.getSky() == 3}" th:text="흐림"></td>
            <td th:if="${tourInfo.getSky() == 4}" th:text="비"></td>
            <td th:if="${tourInfo.getSky() == 5}" th:text="소나기"></td>
            <td th:if="${tourInfo.getSky() == 6}" th:text="비눈"></td>
            <td th:if="${tourInfo.getSky() == 7}" th:text="눈비"></td>
            <td th:if="${tourInfo.getSky() == 8}" th:text="눈"></td>
            <td th:text="${tourInfo.getRhm()}"></td>
            <td th:text="${tourInfo.getPop()+'%'}"></td>
        </tr>
    </table>

    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${prevPage <=0}?'disabled': ''">
            <a class="page-link" th:href="@{/apiTest(pageNo = ${prevPage})}">이전</a>
        </li>

        <li class="page-item" th:each="page : ${#numbers.sequence(blockStart, blockEnd)}" th:classappend="${pageNo eq page}?'active':''">
            <a class="page-link" th:href="@{/apiTest(pageNo = ${page})}" th:text="${page}"></a>
        </li>

        <li class="page-item" th:classappend="${blockEnd >= totalPages}?'disabled':''">
            <a class="page-link" th:href="@{/apiTest(pageNo = ${nextPage})}">다음</a>
        </li>
    </ul>


    </div>
</div>
</body>
</html>